<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HVUdeM</title>
  </head>
  <body>
    <div class="footer">
      <img src="C:/Users/Jessica/Desktop/Ba coHV/src/UNIVERSIDAD_DE_MEDELLIN.jpg">
      <h2>BANCO DE HOJAS UDEM</h2>
      <nav>
        <a href="/home.html"></a>
        <a href="/login.html"></a>
        <a href="/registro.html"></a>
      </nav>
    </div>

    <div class="content">
      <h1>Getionemos tu hoja de vida</h1>
      <h2>1. Informacion Personal</h2>
      <form>
        <input type="text" placeholder="nombres...">
        <input type="text" placeholder="apellidos..."><br>
        <select placeholder="seleccionar tipo documento...">
            <option value="C.C">C.C</option>
            <option value="C.Extranjeria">C. Extranjeria</option>
            <option value="Pasaporte">Pasaporte</option>
        </select>
        <input type="text" placeholder="# documento..."><br>
        <input type="text" placeholder="Nacionalidad...">
        <select>
            <option value="m">M</option>
            <option value="f">F</option>
        </select><br>
        <input type="date" placeholder="Fecha nacimiento">
        <input type="text" placeholder="Lugar nacimiento..."><br>
        <select placeholder="Estado civil...">
            <option value="Soltero">Soltero</option>
            <option value="Divorciado">Divorciado</option>
            <option value="Union Libre">Union Libre</option>
            <option value="Casado">Casado</option>
        </select>
        <input type="text" placeholder="Direccion vivienda..."><br>
        <input type="text" placeholder="Telefono fijo">
        <input type="text" placeholder="Telefono movil..."><br>
        <input type="text" placeholder="Email"><br><br>
        <button type="button">Continuar</button>
        <button type="button" name="button">Cancelar</button>
      </form>

      <div>
        <h2>2. Nivel de Formacion</h2>
        <form>
          <select>
            <option value="Doctorado">Doctorado</option>
            <option value="Especializacion">Especializacion</option>
            <option value="Pregrado">Pregrado</option>
          </select>
          <input type="text" placeholder="Titulo obtenido"><br>
          <textarea rows="4" cols="25" placeholder="detalla tu area de estudio aqui..."></textarea><br>
          <input type="text" placeholder="Institucion y Lugar">
          <input type="text" placeholder="Desde - Hasta"><br><br>
          <button type="button">Continuar</button>
          <button type="button" name="button">Cancelar</button>
        </form>
      </div>

      <div>
        <h2>3. Experiencia Profesional</h2>
        <form>
          <h3>3.1 Cargos</h3>
          <input type="text" placeholder="Cargo desempeñado">
          <input type="text" placeholder="Institucion y Lugar">
          <input type="text" placeholder="Desde - Hasta"><br>
        <h3>3.2 Experiencia Docente</h3>
          <input type="text" placeholder="Programa academico">
          <input type="text" placeholder="Asignaturas dictadas">
          <input type="text" placeholder="Institucion y Lugar">
          <input type="text" placeholder="Desde - Hasta"><br><br>
          <button type="button">Continuar</button>
          <button type="button" name="button">Cancelar</button>
        </form>
      </div>

      <div>
        <h2>4.Actividades Investigativas.</h2>
        <form>
          <h3>4.1 Proyectos de Investigacion</h3>
          <input type="text" placeholder="Titulo">
          <input type="text" placeholder="Linea de investigacion">
          <input type="text" placeholder="Institucion y Lugar">
          <input type="text" placeholder="Desde - Hasta">
          <input type="text" placeholder="Fuente de FInanciacion"><br>
          <h3>4.2 Pertenencia a grupos o redes de investigacion</h3>
          <input type="text" placeholder="nombre grupo o red">
          <input type="text" placeholder="Director o coordinador">
          <input type="text" placeholder="Linea Investigacion">
          <input type="text" placeholder="Institucion y Lugar">
          <input type="text" placeholder="Desde - Hasta"><br><br>
          <button type="button">Continuar</button>
          <button type="button" name="button">Cancelar</button>
        </form>
      </div>

      <div>
        <h2>5.Produccion Intelectual.</h2>
        <form>
          <h3>5.1 Produccion Academica</h3>
          <input type="text" placeholder="Tipo Producto">
          <input type="text" placeholder="Referencia Bibliografica">
          <h3>5.2 Produccion Cientifica (resultados investigacion)</h3>
          <input type="text" placeholder="Tipo publicacion"><br><br>
          <textarea rows="4" cols="25" placeholder="Indicador de existencias (titulo,autores,edicion,año,pag,etc..)""></textarea><br><br>
          <textarea rows="4" cols="25" placeholder="Nombre del proyecto de investigacion..."></textarea><br><br>
          <button type="button">Continuar</button>
          <button type="button" name="button">Cancelar</button>
        </form>
      </div>
      <div>
        <h2>6.Ponencias.</h2>
        <form>
          <input type="text" placeholder="Titulo ponencias.">
          <input type="text" placeholder="Nombre y Lugar evento">
          <input type="text" placeholder="Codigo ISBN (si hay memorias)">
          <input type="text" placeholder="Año"><br><br>
          <button type="button">Continuar</button>
          <button type="button" name="button">Cancelar</button>
        </form>
      </div>

      <div>
        <h2>7.Pasantias.</h2>
        <form>
          <input type="text" placeholder="Nombre institucion.">
          <input type="text" placeholder="Area de trabajo">
          <input type="text" placeholder="Lugar, Año y duracion"><br><br>
          <button type="button">Continuar</button>
          <button type="button" name="button">Cancelar</button>
        </form>
      </div>

      <div>
        <h2>8.Premios y Reconocimientos.</h2>
        <form>
          <input type="text" placeholder="Premio y/o Reconocimiento">
          <input type="text" placeholder="Otorgado Por">
          <input type="text" placeholder="Desde - Hasta (dd/mm/aaaa)"><br><br>
          <button type="button">Continuar</button>
          <button type="button" name="button">Cancelar</button>
        </form>
      </div>

      <div>
        <h2>9.Lengua Extranjera.</h2>
        <form>
          <input type="text" placeholder="Idioma">
          <input type="text" placeholder="Institucion">
          <input type="text" placeholder="Certificacion internacional (A1,A2.B1,B2,C1,C2)"><br><br>
          <button type="button">Continuar</button>
          <button type="button" name="button">Cancelar</button>
        </form>
      </div>
    </div>
  </body>
</html>
